.form.big-form {
  width: 1400px;
  margin-top: 34px;
  .formContent {
    width: 664px;
    margin: auto;
    .submit {
      border-radius: 5px;
      width: 377px;
      margin: auto;
      text-align: center;
      font-size: 16px;
      line-height: 18px;
      padding: 20px;
      margin-top: 32px;
    }
  }
  .addPicture {
    width: 100%;
    height: 124px;
    background: #f9fafb;
    border: 1px solid #dedee0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 4px;
    .iconBox {
      width: 92px;
      height: 92px;
      background: #e4e4e4;
      border-radius: 4px;
      margin-left: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 32px;
        height: 32px;
      }
    }
    .preview {
      width: 92px;
      height: 92px;
      margin-left: 16px;
      border-radius: 4px;
    }
  }
}
@media (max-width: 1550px) {
  .form.big-form {
    width: 1095px;
    .formContent {
      width: 695px;
    }
  }
}
@media (max-width: 1195px) {
  .form.big-form {
    width: 695px;
    .formContent {
      width: 320px;
      .submit {
        width: calc(100% - 40px);
      }
    }
  }
}
@media (max-width: 745px) {
  .form.big-form {
    width: 250px;
    .formContent {
      width: 230px;
    }
  }
}
