.content {
  .form {
    width: 445px;
    background: white;
    margin: auto;
    margin-top: 80px;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    padding: 25px;
    h3 {
      font-size: 22px;
      line-height: 25px;
      font-weight: normal;
      margin: 0;
      margin-bottom: 18px;
      text-align: center;
      color: black;
    }
    label {
      font-size: 12px;
      line-height: 14px;
      display: block;
      font-weight: normal;
      margin-top: 14px;
      text-transform: uppercase;
      color: #303030;
      &.important::after {
        content: "*";
        color: red;
      }
    }
    input {
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.4px;
      margin-top: 4px;
      padding: 20px 12px;
      width: calc(100%);
      background: #f9fafb;
      border: 1px solid #dedee0;
      box-sizing: border-box;
      border-radius: 5px;
    }
    .password {
      position: relative;
      img.eye {
        position: absolute;
        top: 26px;
        right: 20px;
        cursor: pointer;
      }
    }
    .forgotPassword {
      font-size: 14px;
      line-height: 16px;
      text-align: right;
      margin-bottom: 16px;
      margin-top: 4px;
      display: block;
    }
    .buton {
      text-align: center;
      padding: 21px 30px;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.4px;
      cursor: pointer;
      margin-top: 32px;
    }
  }
  .blockAuth {
    width: 445px;
    background: white;
    margin: auto;
    margin-top: 24px;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    padding: 25px;
    font-size: 14px;
    line-height: 16px;
    color: black;
    text-align: center;
    .link {
      color: $brandColor1;
      cursor: pointer;
    }
  }
}

@media (max-width: 1550px) {
}
@media (max-width: 1195px) {
}
@media (max-width: 745px) {
  .content {
    .form {
      width: 240px;
    }
    .blockAuth {
      width: 240px;
    }
  }
}
