h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: $Helvetica;
}
body {
  margin: 0;
  font-family: $Helvetica;
  background-color: $background;
}
.btn {
  background: $brandColor1;
  border-radius: 4px;
  color: white;
}
.content {
  width: 1440px;
  margin: auto;
  color: #8c8c8c;
}
.min-content {
  width: 1095px;
  margin: auto;
}
input {
  background: #f9fafb;
}
p.error{
color:red
}
//1136
