.catalog {
  display: flex;
  flex-wrap: wrap;
  .tile {
    position: relative;
    border-radius: 4px;
    max-width: calc(25% - 6px);
    min-width: calc(25% - 6px);
    background: white;
    margin: 3px;
    .photoBlock {
      position: relative;
      overflow: hidden;
      margin: 3px;
      border-radius: 4px 4px 0px 0px;
      .productPhoto {
        position: absolute;
        top: 0;
        left: 0;
      }
      img {
        width: 100%;
        min-height: 100%;
      }
    }
    .like {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 7px;
      bottom: 42px;
      background-color: white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.163407);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        width: 17px;
      }
    }
    .title {
      font-size: 15px;
      line-height: 17px;
      color: #373738;
      padding: 0 12px;
      margin: 6px 0;
      height: 17px;
      overflow: hidden;
    }
    .price {
      font-size: 18px;
      line-height: 21px;
      color: #101010;
      font-weight: bold;
      padding: 0 12px;
      margin: 6px 0;
    }
  }
}
