.header {
  .content {
    //height: 84px;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 18px;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    text-transform: uppercase;
    align-items: center;
    font-size: 14px;
    line-height: 31px;
    text-align: center;
    a {
      text-decoration: none;
      color: black;
    }
    .sell {
      width: 131px;
      color: white;
    }
    .logIn {
      width: 131px;
    }
  }
  &.dark {
    background: $gradient;
    //height: 77px;
    .header__buttons a {
      color: white;
    }
    .search {
      display: flex;
      width: 100%;
      margin-top: 44px;
      padding-bottom: 14px;
      .byName {
        width: 54%;
        position: relative;
        margin-right: 1%;
      }
      .byLocation {
        width: 24%;
        position: relative;
        margin-right: 1%;
      }
      .searchButton {
        width: 20%;
        text-align: center;
        color: white;
        background-color: #3e3961;
        height: 50px;
        font-size: 14px;
        line-height: 50px;
        text-transform: uppercase;
        border-radius: 4px;
        cursor: pointer;
        //padding: 10px;
      }
      input {
        width: calc(100% - 80px);
        font-size: 15px;
        line-height: 31px;
        height: 48px;
        border-radius: 4px;
        border: 0px;
        padding: 0 40px;
        outline: none;
        // margin-right: 14px;
      }
      .icon {
        position: absolute;
        left: 10px;
        top: 17px;
      }
    }
  }
}
