$brandColor1: #349a89;
$brandColor2: #3e3961;
$background: #f2f2f2;
$Helvetica: Helvetica;
$gradient: linear-gradient(180deg, #090810 0%, #171236 100%);
@font-face {
  font-family: Helvetica; /* Имя шрифта */
  src: url(/../assets/fonts/helvetica.woff) format("woff");
  src: url(/../assets/fonts/helvetica.ttf) format("truetype");
  src: url(/../assets/fonts/helvetica.eot) format("eot");
  font-weight: normal;
  font-style: normal;
}
